<!DOCTYPE html>
<html lang="">
<head>
    <title>~ Book Displays ~</title>
</head>
<body style="background-color: gray; font-family: sans-serif;">
    <h1 style="text-align: center; padding-bottom: 50px; text-decoration: underline">Book Displays</h1>

    <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 30px;">

        {% for book in books %}
            <div style="display: flex; flex-direction: column; align-items: center; padding: 20px;
                        outline: 3px solid black; border-radius: 10px; background-color: darkgrey;
                        width: 200px;">

                <img src="{{ book.cover.url }}" alt="{{ book.title }}" height="200"
                     style="border-radius: 8px;">

                <h2>{{ book.title }}</h2>
                <p>Author: {{ book.author }}</p>
            </div>
        {% endfor %}

    </div>
</body>
</html>
